<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- 500MB in KB -->
    <httpRuntime maxRequestLength="512000" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 500MB in Bytes -->
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
